################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Poc.VSA/DesignTimeBuild
/.vs/Poc.VSA/FileContentIndex
/.vs/Poc.VSA/v17
/.vs
/Poc.VerticalSlice.WebApi/bin/Debug/net9.0
/Poc.VerticalSlice.WebApi/obj
/Poc.VerticalSlice.Application/bin/Debug/net9.0
/Poc.VerticalSlice.Application/obj